@font-face {
  font-family: "sico"; /* Project id 5102159 */
  src: url('iconfont.woff2?t=1772911709534') format('woff2'),
       url('iconfont.woff?t=1772911709534') format('woff'),
       url('iconfont.ttf?t=1772911709534') format('truetype');
}

.sico {
  font-family: "sico" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jietu:before {
  content: "\e635";
}

.icon-touyingyi_o:before {
  content: "\eb4e";
}

.icon-pouqie:before {
  content: "\e601";
}

.icon-zhongzhi:before {
  content: "\e6a8";
}

.icon-dingshitu-01:before {
  content: "\e600";
}

.icon-zuoshitu:before {
  content: "\e634";
}

.icon-shiqudian:before {
  content: "\e679";
}

.icon-icon_dengzhou:before {
  content: "\e6d2";
}

.icon-qianshitu:before {
  content: "\e710";
}

.icon-iconset0442:before {
  content: "\e741";
}

.icon-yulanxuanzhuan:before {
  content: "\e632";
}

.icon-move:before {
  content: "\eb70";
}

.icon-zuobiaozhou1:before {
  content: "\e603";
}

.icon-xifu:before {
  content: "\e633";
}

.icon-wanggeshezhi:before {
  content: "\e81c";
}

.icon-xinjian:before {
  content: "\e653";
}

.icon-daoru_o:before {
  content: "\eb49";
}

.icon-daochu_o:before {
  content: "\eb4b";
}

.icon-baocun:before {
  content: "\e936";
}

.icon-fanhuishangyibu-:before {
  content: "\e62f";
}

.icon-fanhuixiayibu-:before {
  content: "\e630";
}

.icon-qingchu:before {
  content: "\e631";
}

.icon-gongzuotaimorentubiao:before {
  content: "\e940";
}

.icon-a-lujing1360:before {
  content: "\e941";
}

.icon-chaifenlie:before {
  content: "\e947";
}

.icon-join:before {
  content: "\e948";
}

.icon-kongzhichuli:before {
  content: "\e949";
}

.icon-liezhuanhang:before {
  content: "\e94a";
}

.icon-guolv:before {
  content: "\e94b";
}

.icon-chaifen:before {
  content: "\e94c";
}

.icon-hebinglie:before {
  content: "\e94d";
}

.icon-paishenglie:before {
  content: "\e94e";
}

.icon-paixu:before {
  content: "\e94f";
}

.icon-juhe:before {
  content: "\e950";
}

.icon-liexuanze:before {
  content: "\e951";
}

.icon-hebinghang:before {
  content: "\e952";
}

.icon-yuanshujubianji:before {
  content: "\e953";
}

.icon-hangzhuanlie:before {
  content: "\e954";
}

.icon-quchuzhongfuzhi:before {
  content: "\e955";
}

.icon-hangxuanze:before {
  content: "\e956";
}

.icon-shujuqingxi:before {
  content: "\e957";
}

.icon-zhitihuan:before {
  content: "\e958";
}

.icon-zengjiaxuliehao:before {
  content: "\e959";
}

.icon-fencengcaiyang:before {
  content: "\e95a";
}

.icon-suijicaiyang:before {
  content: "\e95b";
}

.icon-jiaquancaiyang:before {
  content: "\e95c";
}

.icon-lingcunweiCSV:before {
  content: "\e95d";
}

.icon-lingcunweiJSON:before {
  content: "\e95e";
}

.icon-excelshuchu:before {
  content: "\e95f";
}

.icon-avroshuchu:before {
  content: "\e960";
}

.icon-xmlshuchu:before {
  content: "\e961";
}

.icon-avroshuru:before {
  content: "\e962";
}

.icon-jsonshuru:before {
  content: "\e963";
}

.icon-jsonshuchu:before {
  content: "\e964";
}

.icon-xmlshuru:before {
  content: "\e965";
}

.icon-excelshuru:before {
  content: "\e966";
}

.icon-MR:before {
  content: "\e967";
}

.icon-MDB:before {
  content: "\e968";
}

.icon-duoluhebing:before {
  content: "\e969";
}

.icon-xml:before {
  content: "\e96a";
}

.icon-get:before {
  content: "\e96b";
}

.icon-yunhangsshmingling:before {
  content: "\e96c";
}

.icon-jsonjiexi:before {
  content: "\e96d";
}

.icon-gou:before {
  content: "\e96e";
}

.icon-banshou:before {
  content: "\e96f";
}

.icon-jinyong:before {
  content: "\e970";
}

.icon-guzhang1:before {
  content: "\e971";
}

.icon-JMSshuchu:before {
  content: "\e972";
}

.icon-JMSshuru:before {
  content: "\e973";
}

.icon-MQTTshuchu:before {
  content: "\e974";
}

.icon-MQTTshuru:before {
  content: "\e975";
}

.icon-zongjie:before {
  content: "\e976";
}

.icon-rizhizhuangtai:before {
  content: "\e977";
}

.icon-mingchengjiediancunchu:before {
  content: "\e978";
}

.icon-dfscunchuleixing:before {
  content: "\e979";
}

.icon-zuoyouduibitu:before {
  content: "\e97a";
}

.icon-teshubiaoge:before {
  content: "\e97b";
}

.icon-xiangxingzhutu:before {
  content: "\e97c";
}

.icon-a-3dzhexiantu:before {
  content: "\e97d";
}

.icon-quanjutu:before {
  content: "\e97e";
}

.icon-a-3dbingtu:before {
  content: "\e97f";
}

.icon-a-3dzhutu:before {
  content: "\e980";
}

.icon-lixueqipaotu:before {
  content: "\e981";
}

.icon-gisditu:before {
  content: "\e982";
}

.icon-a-3dsandiantu:before {
  content: "\e983";
}

.icon-jindutiao:before {
  content: "\e984";
}

.icon-shuiqiutu:before {
  content: "\e985";
}

.icon-shijian:before {
  content: "\e63e";
}

.icon-shanchu:before {
  content: "\e63d";
}

.icon-shouji:before {
  content: "\e63f";
}

.icon-liwu:before {
  content: "\e640";
}

.icon-wenjianbao:before {
  content: "\e641";
}

.icon-wenjianjia:before {
  content: "\e642";
}

.icon-tongzhi:before {
  content: "\e643";
}

.icon-wenjian:before {
  content: "\e644";
}

.icon-xiangzuo:before {
  content: "\e645";
}

.icon-zhibo:before {
  content: "\e646";
}

.icon-shouyi:before {
  content: "\e647";
}

.icon-a-huabanbeifen3:before {
  content: "\e648";
}

.icon-xiangyou:before {
  content: "\e649";
}

.icon-xiaoxi:before {
  content: "\e64a";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-ting:before {
  content: "\e64c";
}

.icon-fanxuan:before {
  content: "\e609";
}

.icon-suoxiao:before {
  content: "\e60a";
}

.icon-tuichu:before {
  content: "\e60b";
}

.icon-fankui:before {
  content: "\e60c";
}

.icon-xunhuan:before {
  content: "\e60d";
}

.icon-neizhidengxiao:before {
  content: "\e60e";
}

.icon-bofangheji:before {
  content: "\e60f";
}

.icon-shezhi1:before {
  content: "\e610";
}

.icon-quanping:before {
  content: "\e611";
}

.icon-piufa:before {
  content: "\e612";
}

.icon-xuanfuchuangkou:before {
  content: "\e613";
}

.icon-pingmutongbu:before {
  content: "\e614";
}

.icon-hejiwenjian:before {
  content: "\e615";
}

.icon-zidingyidengxiao:before {
  content: "\e616";
}

.icon-youxijiaohu:before {
  content: "\e617";
}

.icon-yinlelvdong:before {
  content: "\e618";
}

.icon-yuyan:before {
  content: "\e619";
}

.icon-wenjian1:before {
  content: "\e61a";
}

.icon-shanchu1:before {
  content: "\e61b";
}

.icon-duoshebei:before {
  content: "\e61c";
}

.icon-fenxiang:before {
  content: "\10219";
}

.icon-qudenglu:before {
  content: "\1021a";
}

.icon-renyuanguanli:before {
  content: "\1021b";
}

.icon-pingtaiguanli:before {
  content: "\1021c";
}

.icon-yunyingguize:before {
  content: "\1021d";
}

.icon-anquan:before {
  content: "\e71d";
}

.icon-banquan:before {
  content: "\e71e";
}

.icon-bijiben:before {
  content: "\e71f";
}

.icon-bijibendiannao:before {
  content: "\e720";
}

.icon-bianji_1:before {
  content: "\e721";
}

.icon-bianji_3:before {
  content: "\e722";
}

.icon-bianji_2:before {
  content: "\e723";
}

.icon-biaoge:before {
  content: "\e724";
}

.icon-baobiao:before {
  content: "\e725";
}

.icon-biaoqingbao:before {
  content: "\e726";
}

.icon-biaoqian_1:before {
  content: "\e727";
}

.icon-caidan:before {
  content: "\e728";
}

.icon-bangong:before {
  content: "\e729";
}

.icon-bianji:before {
  content: "\e72a";
}

.icon-biaoqian:before {
  content: "\e72b";
}

.icon-cai:before {
  content: "\e72c";
}

.icon-chazhaoyonghu:before {
  content: "\e72d";
}

.icon-chakandingdan:before {
  content: "\e72e";
}

.icon-chongzhijilu:before {
  content: "\e72f";
}

.icon-caiwuzhongxin:before {
  content: "\e730";
}

.icon-cunchu:before {
  content: "\e731";
}

.icon-chucun:before {
  content: "\e732";
}

.icon-chuliqi:before {
  content: "\e733";
}

.icon-chuhang:before {
  content: "\e734";
}

.icon-chazhao:before {
  content: "\e735";
}

.icon-kufangguanli:before {
  content: "\e64d";
}

.icon-pandianguanli:before {
  content: "\e64e";
}

.icon-guancangguanli:before {
  content: "\e64f";
}

.icon-jiaojieguanli:before {
  content: "\e650";
}

.icon-shezhi2:before {
  content: "\e651";
}

.icon-shouye:before {
  content: "\e652";
}

.icon-a-Group2:before {
  content: "\e606";
}

.icon-banzai:before {
  content: "\e607";
}

.icon-chufa:before {
  content: "\e608";
}

.icon-fangda:before {
  content: "\e61d";
}

.icon-gaijian:before {
  content: "\e61e";
}

.icon-gaoji:before {
  content: "\e61f";
}

.icon-guanbi:before {
  content: "\e620";
}

.icon-hong:before {
  content: "\e621";
}

.icon-jianpan:before {
  content: "\e622";
}

.icon-kuaijieshezhi:before {
  content: "\e623";
}

.icon-heian:before {
  content: "\e624";
}

.icon-mingcheng:before {
  content: "\e625";
}

.icon-shezhi3:before {
  content: "\e626";
}

.icon-shubiao:before {
  content: "\e627";
}

.icon-shuomingshu:before {
  content: "\e628";
}

.icon-xitong:before {
  content: "\e629";
}

.icon-xingneng:before {
  content: "\e62a";
}

.icon-yuyan1:before {
  content: "\e62b";
}

.icon-a-Group1:before {
  content: "\e62c";
}

.icon-a-Group21:before {
  content: "\e62d";
}

.icon-dengguang:before {
  content: "\e62e";
}

