/* English comment. */
@import './tailwind.css';

/* English comment. */
@import './variables.css';

/* English comment. */
@import './animations.css';

/* English comment. */
@import './editor.css';

/* English comment. */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

